In [ ]:
Understanding the variables in Python :

In [40]:
x = 5
y = 8

z = x +y
print(z)

13

In [39]:
z = x+y
print(z)

8

In [ ]:
Rules for declaring the variables in Python :

In [ ]:
Rule no 1: No name spaces while declaring the variable name

In [23]:
first name = 'Farhan'
print(first name)

SyntaxError: invalid syntax (3254864180.py, line 1)

In [24]:
firstname = 'Farhan'
print(firstname)

Farhan

In [25]:
first_name = 'Farhan'
print(first_name)

Farhan

In [ ]:
Rule no 2: A variable name should not start with a number****

In [26]:
1name = 'Kishor'

SyntaxError: invalid decimal literal (70771578.py, line 1)

In [27]:
name1 = 'Kishor'

print(name1)

Kishor

In [ ]:
Rule no 3: A variable should not contain special characters****

In [ ]:
! @ # $ % ^ & * ()

In [28]:
name@ = 'Shubham'

print(name@)

SyntaxError: invalid syntax (3173714976.py, line 1)

In [ ]:
Introduction to Datatypes in Python:

In [ ]:
1. String =======>  STR

2. Numbers ========> Integers (int) and Floats (float) (decimals 0.1, 0.2)

3. List =========> List

4. Tuples ==========> tuple

5. Dictionaries =========> dict

In [ ]:
Classification of Datatypes :
    
    Broadly datatypes are classified into two categories:
        
        1. Mutable datatype =======>  which we can edit and alter ======> flexible in nature
        
        2. Immutable datatype =====>  which we cannot be able to edit or alter ======> fixed in nature

In [ ]:
Introduction to string datatype:

In [ ]:
Def : A string is a series of characters declared in quotes.
    
Classification : It is declared as an immutable datatype (Fixed datatype)
    
    How to define string datatype ?
    
    1. Single Quote ''
    
    2. Double Quote ""

In [29]:
name = 'Mahesh'
print(name)

Mahesh

In [31]:
name2 = "Sandeep"
print(name2)

Sandeep

In [ ]:
Introduction to string methods :

In [32]:
type(name)

str

In [33]:
type(name2)

str

In [34]:
fullname = "shahrukh khan"

print(fullname)

shahrukh khan

In [35]:
print(fullname.title())

Shahrukh Khan