In [ ]:
continuation with list datatype :

In [ ]:
organising the list datatype :

In [1]:
cars = ['suzuki','maruti','hyundai','benz','kia','audi','tata','bmw','honda','toyota','ford','volvo']

In [2]:
print(cars)

['suzuki', 'maruti', 'hyundai', 'benz', 'kia', 'audi', 'tata', 'bmw', 'honda', 'toyota', 'ford', 'volvo']

In [ ]:
# req : i waant to organise the above list in alphabetical order wise : A-Z

In [ ]:
Approaches :
    
    1. Temp Approach =========> we will be able to get the original defined list order -----> sorted
    2. Permanent Approach  =======> changes will be applied permanently --------> sort

In [3]:
print(cars)

['suzuki', 'maruti', 'hyundai', 'benz', 'kia', 'audi', 'tata', 'bmw', 'honda', 'toyota', 'ford', 'volvo']

In [8]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'ford', 'honda', 'hyundai', 'kia', 'maruti', 'suzuki', 'tata', 'toyota', 'volvo']

In [ ]:
a , b , b , f , h , h , k , m , s , t , t , v

In [ ]:
benz, bmw ======> b , b ====> e , m            -----> pthon will be evaluating the next immediate alphabet

In [5]:
print(cars)  # this is original order that we have defined .......!

['suzuki', 'maruti', 'hyundai', 'benz', 'kia', 'audi', 'tata', 'bmw', 'honda', 'toyota', 'ford', 'volvo']

In [6]:
cars.sort()

In [7]:
print(cars)

['audi', 'benz', 'bmw', 'ford', 'honda', 'hyundai', 'kia', 'maruti', 'suzuki', 'tata', 'toyota', 'volvo']

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'ford', 'honda', 'hyundai', 'kia', 'maruti', 'suzuki', 'tata', 'toyota', 'volvo']

In [ ]:
# what is the difference between sorted and sort methods in list datatype ....?

In [ ]:
# req : i want to know the no of elements in the list datatype ....?

In [10]:
len(cars)

12

In [ ]:
# req : i want to reverse the list that has been defined.  A-Z  order ========> Z-A

In [11]:
print(cars)

['audi', 'benz', 'bmw', 'ford', 'honda', 'hyundai', 'kia', 'maruti', 'suzuki', 'tata', 'toyota', 'volvo']

In [12]:
cars.reverse()

In [13]:
print(cars)

['volvo', 'toyota', 'tata', 'suzuki', 'maruti', 'kia', 'hyundai', 'honda', 'ford', 'bmw', 'benz', 'audi']

In [ ]:
Introduction to slicing :

In [14]:
students = ['parvez','naveen','khadija','roja','karthik','joseph']

In [15]:
print(students)

['parvez', 'naveen', 'khadija', 'roja', 'karthik', 'joseph']

In [ ]:
# general syntax of slicing :

[start_value:stop_value_step_count]

In [ ]:
Note : Last value is always exclusive, to include it we have to increment the index value by +1.

In [ ]:
# req : I want to get parvez and naveen in slice.

In [16]:
print(students[0:1])

['parvez']

In [17]:
print(students[0:2])

['parvez', 'naveen']

In [ ]:
# req : i want to have khadija and roja in the slice

In [18]:
print(students[2:4])

['khadija', 'roja']

In [ ]:
# req : i want to have karthik and joseph in the slice

In [19]:
print(students[4:6])

['karthik', 'joseph']

In [20]:
# is used for commenting the code

In [21]:
is used for commenting the code

SyntaxError: invalid syntax (1938111214.py, line 1)

In [23]:
print(students[0:6:2])

['parvez', 'khadija', 'karthik']