In [ ]:
introduction to immutable datatype :

In [ ]:
Defination : An immutable list is called as an tuple.

Classification : It is classified as immutable dataype (Fixed Datatype ========> we will not be able to modify it.)
    
How to define the tuple datatype ======>  (  )

In [1]:
students = ('sarika','keerthi','naveed','joseph')

In [2]:
print(students)

('sarika', 'keerthi', 'naveed', 'joseph')

In [3]:
type(students)

tuple

In [5]:
print(students[0])

sarika

In [ ]:
# req : i want to change sarika name to sangeetha

In [6]:
students[0] = 'Sangeetha'

TypeError: 'tuple' object does not support item assignment

In [7]:
dimensions = (200,5)

In [8]:
type(dimensions)

tuple

In [9]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [10]:
print(students)

('sarika', 'keerthi', 'naveed', 'joseph')

In [11]:
print(students[2])

naveed

In [12]:
print(students[2].title())

Naveed

In [13]:
for a in students:
    print(a)

sarika
keerthi
naveed
joseph

In [ ]:
introduction to dictionaries ****

In [ ]:
Defination : A dict is a combination of key , value pairs.
    
Classificaation : It is classified as a mutable datatype (we can edit / alter)
    
how to define the dictionary ......?  { }

In [14]:
alien = {'color':'green','points':'5'}

In [15]:
print(alien)

{'color': 'green', 'points': '5'}

In [16]:
type(alien)

dict

In [ ]:
# create a facebook account :

In [17]:
user_name = {'first_name':'code','last_name':'training','dob':'01-01-2020','password':'54321'}

In [18]:
print(user_name)

{'first_name': 'code', 'last_name': 'training', 'dob': '01-01-2020', 'password': '54321'}

In [19]:
type(user_name)

dict

In [ ]:
# ading a key value pair to the dictionary :

In [20]:
'location':'autumn leaf'

SyntaxError: illegal target for annotation (2445790020.py, line 1)

In [21]:
user_name['location'] = 'autumn leaf'

In [22]:
print(user_name)

{'first_name': 'code', 'last_name': 'training', 'dob': '01-01-2020', 'password': '54321', 'location': 'autumn leaf'}

In [ ]:
# req : how to access key value

In [ ]:
give the key and get the value :

In [23]:
print(user_name['last_name'])

training

In [24]:
print(user_name['code'])

KeyError: 'code'